body{
    margin: 0;
}
*{
    font-family: 'Gilroy';
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
/* ----------------------------------- */

.navigate_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0 20px 0;
}
.navigate_wrapper .left_nav,
.navigate_wrapper .right_nav{
    display: flex;
    align-items: center;
}
.left_nav .logo{
    margin-right: 71px;
}
.left_nav .logo span{
    font-weight: 500;
    font-size: 23px;
    color: #fff;
    font-style: italic;
}
.left_nav .nav_items{
    display: flex;
    align-items: center;
}

.left_nav .nav_items li a{
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}
.left_nav .nav_items > li + li {
    margin-left: 43px;
}


.right_nav .select{
    position: relative;
    cursor: pointer;
}

.right_nav .select .select__list{
    position: absolute;
    top: 18px;
    padding: 8px;
}
.right_nav .select .select__head{
    padding: 0 8px;
    display: flex;
    align-items: center;
}
.right_nav .select .select__head,
.right_nav .select .select__list li{
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}
.right_nav .select .select__head{
    position: relative;
    padding-right: 25px;
}
.right_nav .select i{
    position: absolute;
    right: 0;
    top: -1px;
    color: #fff;
    transform: rotate(0deg);
    transition: .3s;
}
.right_nav .select i.select_active{
    transform: rotate(180deg);
    transition: .3s;
}


.right_nav .select .select__list > li + li{
    margin-top: 10px;
}




.right_nav .log_in{
    margin-left: 25px;
}

.right_nav .log_in a{
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}



.first_block .block_video{
    position: absolute;
    top: 0;
    height: 768px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}


.first_block .block_video video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}




.first_block .block_video .video_txt{
    width: 445px;
    position: absolute;
    bottom: 87px;
    left: 100px;
}
.first_block .block_video .video_txt h3{
    font-weight: 500;
    font-size: 48px;
    color: #fff;
    font-family: 'SF Pro Display';
}
.first_block .block_video .video_txt span{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
.first_block .block_video .video_txt p{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    font-family: 'SF Pro Display';
    margin-top: 26px;
}
.first_block .block_video .video_txt .video_txt_wrapper{
    display: none;
}
.first_block .block_video .video_txt .video_txt_active{
    display: block;
}


.first_block .block_video .video_play{
    position: absolute;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal_bg_color{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 100;
    display: none;
}

.modal_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    z-index: 110;
    
    overflow: hidden;
    display: none;
}

.modal_video video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}
































