body{
    margin: 0;
    
    
}
*{
    font-family: 'SF Pro Display';
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

input,
button{
    outline: none;
}

.button{
    outline: none;
    background-color: none;
    border: 1px solid #282727;
    font-weight: 400;
    font-size: 18px;
    color: #282727;
    border-radius: 170px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.button::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #282727;
    position: absolute;
    border-radius: 170px;
    top: -100%;
    left: 100%;
    transition: .2s;
    z-index: -1;
}
.button:hover{
    color: #fff;
}
.button:hover::after{
    top: 0;
    left: 0;
    transition: .2s;
}
/* ----------------------------------- */

.navigate_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0 20px 0;
}
.navigate_wrapper .left_nav,
.navigate_wrapper .right_nav{
    display: flex;
    align-items: center;
    z-index: 1;
}
.left_nav .logo{
    margin-right: 71px;
}
.left_nav .logo span{
    font-weight: 500;
    font-size: 23px;
    color: #fff;
    font-style: italic;
    font-family: 'Gilroy';
}
.left_nav .nav_items{
    display: flex;
    align-items: center;
}

.left_nav .nav_items li a{
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    font-family: 'Gilroy';
}
.left_nav .nav_items > li + li {
    margin-left: 43px;
}


.right_nav .select{
    position: relative;
    cursor: pointer;
    
}

.right_nav .select .select__list{
    position: absolute;
    top: 18px;
    padding: 8px;
}
.right_nav .select .select__head{
    padding: 0 8px;
    display: flex;
    align-items: center;
}
.right_nav .select .select__head,
.right_nav .select .select__list li{
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    font-family: 'Gilroy';
}
.right_nav .select .select__head{
    position: relative;
    padding-right: 25px;
}
.right_nav .select i{
    position: absolute;
    right: 0;
    top: -1px;
    color: #fff;
    transform: rotate(0deg);
    transition: .3s;
}
.right_nav .select i.select_active{
    transform: rotate(180deg);
    transition: .3s;
}


.right_nav .select .select__list > li + li{
    margin-top: 10px;
}




.right_nav .log_in{
    margin-left: 25px;
}

.right_nav .log_in a{
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    font-family: 'Gilroy';
}


.first_block{
    height: 693px;
}
.first_block .block_video{
    position: absolute;
    top: 0;
    height: 768px;
    width: 100%;
    overflow: hidden;
   
}


.first_block .block_video video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    z-index: -1;
}




.first_block .block_video .video_txt{
    width: 445px;
    position: absolute;
    bottom: 87px;
    left: 100px;
}
.first_block .block_video .video_txt h3{
    font-weight: 500;
    font-size: 48px;
    color: #fff;
}
.first_block .block_video .video_txt span{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
.first_block .block_video .video_txt p{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin-top: 26px;
}
.first_block .block_video .video_txt .video_txt_wrapper{
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.2s;
}
.first_block .block_video .video_txt .video_txt_wrapper.video_txt_active{
    opacity: 1;
    transition: 2s;
}


.first_block .block_video .video_play{
    position: absolute;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 50;
}

.modal_bg_color{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 100;
    display: none;
}

.modal_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    z-index: 110;
    
    overflow: hidden;
    display: none;
}

.modal_video video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}


.program_setting{
    padding-top: 112px;
}
.program_setting_wrapper{
    display: flex;
    justify-content: space-between;
}

.tabs_content_wrapper .title{
    width: 498px;
}
.tabs_content_wrapper .title h2{
    font-weight: 500;
    font-size: 50px;
    color: #282727;
}

.tabs_content_wrapper .title p{
    font-weight: 400;
    font-size: 18px;
    color: #282727;
    width: 313px;
    margin-top: 16px;
    line-height: 32px;
}

.tabs_content_wrapper .img{
    width: 721px;
    height: 429px;
    margin-top: 42px;
}

.tabs_content_wrapper .img img{
    width: 100%;
}

.program_setting_wrapper .button{
    padding: 22px 46px;
    display: inline-block;
    margin-top: 50px;
}

.tabs_link{
    width: 447px;
    padding: 26px 34px 25px 41px;
    height: 249px;
    cursor: pointer;
    border: 2px solid transparent;
}
.tabs_link h3{
    flex-wrap: 500;
    font-size: 25px;
    line-height: 37px;
    color: #282727;

}
.tabs_link p{
    font-weight: 400;
    font-size: 15px;
    color: #282727;
    line-height: 27px;
    margin-top: 10px;
    width: 83%;
}

.tabs_link.active-link{
    border: 2px solid rgba(40, 39, 39, 0.15);
    position: relative;
}
.tabs_link.active-link::after{
    content: "";
    width: 4px;
    height: 198px;
    background-color: #282727;
    position: absolute;
    left: -4px;
    top: 26px;
}
.tabs_content_wrapper .img{
    position: relative;
}
.tabs_content_img{
    display: none;
    /* position: absolute;
    top: 0;
    left: -65px; */
    
    
    
}
.tabs_content_img.tabs_content-active{
    display: block;
}

.tabs_items .more_details{
    font-weight: 400;
    font-size: 18px;
    color: #282727DB;
    display: flex;
    margin: 20px 0 0 43px;
}

.tabs_items .more_details .circle{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #282727;
    margin-left: 22px;
    position: relative;
}
.tabs_items .more_details .circle img{
    position: absolute;
    left: -10px;
    top: 5px;
    transition: .3s;
}
.tabs_items .more_details:hover .circle img{
    left: 7px;
    transition: .3s;
}



.questions_form{
    margin-top: 226px;
}
.questions_form_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.questions_form_wrapper .txt{
    width: 303px;
}
.questions_form_wrapper .txt h2{
    font-weight: 500;
    font-size: 66px;
    color: #282727;
}
.questions_form_wrapper .txt p{
    font-weight: 400;
    font-size: 18px;
    color: #282727;
    width: 90%;
    line-height: 32px;
    margin-top: 27px;
}


.questions_form_wrapper .form_block form{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 75px 83px;
    display: flex;
    flex-direction: column;
}


.questions_form_wrapper .form_block form h3{
    font-weight: 500;
    font-size: 34px;
    color: #282727;
    text-align: center;
}
.questions_form_wrapper .form_block form p{
    font-weight: 400;
    font-size: 18px;
    color: #282727;
    text-align: center;
    margin-bottom: 45px;
}

.questions_form_wrapper .form_block form input{
    border: none;
    border-bottom: 1px solid rgba(40, 39, 39, 0.6);
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    color: #282727;
}

.questions_form_wrapper .form_block form > input + input {
    margin-top: 33px;
}
.questions_form_wrapper .form_block form button{
    background-color: transparent;
    width: 204px;
    height: 60px;
    margin: 60px auto 0;
}







.footer{
    background: #F5F5F8;
    margin-top: 150px;
}


.footer_top{
    padding-top: 82px;
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
    padding-right: 30px;
}
.footer_item{
    width: 206px;
}
.footer_item .logo{
    font-weight: 500;
    font-size: 23px;
    color: #1E1C1CC7;
    font-family: 'Gilroy';
    font-style: italic;
}
.footer_item .desk_logo{
    font-size: 12px;
    font-weight: 400;
    color: #212121;
    line-height: 21px;
    margin-top: 13px;
    
}
.footer_item .social_links{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.footer_item .social_links a{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #D6D6D9;
    display: flex;
    justify-content: center;
    align-items: center;
}





.footer_item ul li a{
    font-weight: 400;
    font-size: 13px;
    color: #212121;
}
.footer_item ul li{
    position: relative;
    padding-left: 17px;
}
.footer_item ul li::before{
    content: "";
    width: 7px;
    height: 7px;
    background: #555961;
    border-radius: 1px;
    position: absolute;
    left: 0;
    top: 7px;
}
.footer_item ul > li + li{
    margin-top: 10px;
}



.footer_item_list{
    display: flex;
}

.footer_item_list > ul + ul{
    margin-left: 150px;
}
.footer_item_contacts span{
    display: block;
}
.footer_item_contacts .title{
    font-weight: 700;
    font-size: 18px;
    color: #172C4F;
    margin-bottom: 20px;
}


.footer_item_contacts p,
.footer_item_contacts span,
.footer_item_contacts a{
    font-weight: 400;
    font-size: 13px;
    color: #212121;
}

.footer_item_contacts .phone{
    margin: 20px 0;
}

.footer_bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    padding-right: 30px;
}

.footer_bot p{
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}
.footer_bot a{
    font-weight: 400;
    font-size: 12px;
    color: #212121;
    width: 206px;
}




.we_are_ready_wrapper{
    
    width: 1440px;
    margin: 0 auto;
    margin-top: 55px;
}
.we_are_ready_wrapper .we_are_ready_container{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.we_are_ready{
    margin-top: 170px;
}
.we_are_ready h2{
    font-weight: 500;
    font-size: 57px;
    color: #282727;
    text-align: center;
}
.we_are_ready_wrapper .tabs_links{
    
    width: 288px;
}
.we_are_ready_wrapper .tabs_links ul li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom:1px solid rgba(40, 39, 39, 0.25);
    cursor: pointer;
}
.we_are_ready_wrapper .tabs_links ul > li + li{
    margin-top: 35px;
}












.we_are_ready_wrapper .tabs_links ul li span{
    font-weight: 400;
    font-size: 14px;
    color: #282727;
    opacity: 0.5;
}

.we_are_ready_wrapper .tabs_links ul li .circle_li{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 0.75px solid rgba(40, 39, 39, 0.25);
    position: relative;
}

.we_are_ready_wrapper .tabs_links ul li .circle_li svg{
    position: absolute;
    top: 3px;
    left: -8px;
}
.we_are_ready_wrapper .tabs_links ul li .circle_li svg path{
    fill: #28272740;
}

.we_are_ready_wrapper .tabs_links ul .ready_linkTab.active-readyLink span{
    opacity: 0.8;
}

.we_are_ready_wrapper .tabs_links ul .ready_linkTab.active-readyLink .circle_li{
    background: rgba(83, 82, 82, 0.3);
    border-color: transparent;
}
.we_are_ready_wrapper .tabs_links ul .ready_linkTab.active-readyLink .circle_li svg path{
    fill: #282727;
}

.ready_tabs_content .txt{
    width: 517px;
}
.ready_tabs_content .txt h3{
    font-weight: 500;
    font-size: 30px;
    color: #2d2d2d;
    line-height: 42px;
    margin-top: 36px;
}

.ready_tabs_content .txt p{
    font-weight: 400;
    font-size: 15px;
    color: #747474;
    line-height: 27px;
    margin-top: 17px;
    width: 85%;
}


.ready_content_wrapper{
    min-height: 750px;
}
.ready_tabs_content{
    display: none;
    
}

.ready_tabs_content.tabs_content-active{
    display: block;
}



.ready_solutions{
    margin-top: 135px;
}
.ready_solutions_wrapper{
    margin-left: 100px;
}

.ready_solutions_wrapper .title h2{
    font-weight: 500;
    font-size: 50px;
    color: #282727;
}

.ready_solutions_wrapper .title p{
    font-weight: 400;
    font-size: 18px;
    color: #282727CC;
    margin-top: 10px;
}

.slider_solutions_block{
    margin-top: 60px;
}
.solutions_item .txt{
    margin-top: 35px;
}
.solutions_item .txt h3{
    font-weight: 500;
    font-size: 39px;
    color: #2D2D2D;
}
.solutions_item .txt p{
    font-weight: 400;
    font-size: 20px;
    color:#747474;
    margin-top: 10px;
    line-height: 35px;
}

/* .slider_solutions_block .swiper-slide{
    width: 605px !important;
} */
.swiper-button-prev::after,
.swiper-button-next::after{
    display: none;
}



.swiper-button-prev .arrow_circle,
.swiper-button-next .arrow_circle{
    flex: 0 0 33px;
    height: 33px;
    border-radius: 50%;
    border: 0.75px solid rgba(40, 39, 39, 0.25);
}

.swiper-button-prev,
.swiper-button-next{
    top: 33px;
    height: 33px;

}

.swiper-button-prev svg,
.swiper-button-next svg{
    position: absolute;
}
.swiper-button-next{
    right: 130px;
}
.swiper-button-next svg{
    top: 9px;
    left: -18px;
}
.swiper-button-prev svg{
    top: 9px;
    left: 11px;
}
.swiper-button-prev{
    right: 220px;
    left: auto;
}
.solutions_slider{
    padding-top: 162px;
    margin-top: -162px;
}


.feedback{
    margin-top: 200px;
}

.feedback_wrapper h2{
    font-weight: 500;
    font-size: 50px;
    color: #282727;
    text-align: center;
}


.feedback_wrapper p{
    margin-top: 13px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 32px;
    color: #282727CC;
}
.feedback_item{
    /* width: 587px; */
    padding: 70px 95px;
    border-right: 2px solid #DADADA;
}
/* .feedback_item:first-child{
    border-left: 2px solid #DADADA;
} */
.feedback_item .txt p{
    font-weight: 400;
    font-size: 18px;
    color: #2D2D2D;
    text-align: left;
    line-height: 25px;
}
.feedback_item .user{
    display: flex;
    margin-top: 45px;
}
.feedback_item .user .name span{
    font-weight: 400;
    font-size: 18px;
    color: #2D2D2D;

}
.feedback_item .user .name p{
    font-weight: 700;
    font-size: 18px;
    color: #2D2D2D;
    margin-top: 0;
    text-align: left;
}
.feedback_item .user .img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
}







.feedback_slider{
   margin-top: 60px;
}



.advertising{
    /* margin-top: 150px; */
    padding-top: 150px;
    /* height: 800px; */
}
.info_block_wrapper{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.text_wrapper {
    height: 768px;
    overflow: hidden;
    padding-bottom: 20px;
}


.info_block_wrapper .txt{
    width: 392px;
    
}
.info_block_wrapper .txt div{
    width: 100%;
    height: 100px;
}


.info_block_wrapper .txt h3{
    font-weight: 500;
    font-size: 44px;
    color: #282727;
    margin-bottom: 28px;
}
.info_block_wrapper .txt h4{
    font-weight: 500;
    font-size: 24px;
    color: #282727;
    margin-bottom: 20px;
}
.info_block_wrapper .txt p{
    font-weight: 400;
    font-size: 15px;
    color: #282727CC;
    width: 70%;
    margin-bottom: 30px;
    line-height: 27px;
}
.info_block_wrapper .txt .h3_subtitle{
    font-weight: 400;
    font-size: 24px;
    color: #282727CC;
    width: 100%;
    line-height: 36px;
}
.info_block_wrapper .text_wrapper{
    position: relative;
}
.info_block_wrapper .text_wrapper .button{
    display: inline-block;
    padding: 18px 48px;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
}
.info_block_wrapper .text_wrapper .white_block{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #fff;
}
.info_block_wrapper .text_wrapper .white_block::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: -30px;
    left: 0;
}


.advertising_two{
    padding-top: 100px;
}
.program_setting_wrapper .button_tabs_items{
    display: none;
}
.burger{
    display: none;
    margin-left: 24px;
}

.burger_button{
    width: 22px;
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.burger_button div{
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
}
.burger_button div:last-child{
    width: 15px;
}
.burger_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #242424;
    z-index: 200;
    padding: 27px 24px;
    display: none;
}
.burger_menu .burger_title{
    font-weight: 500;
    font-size: 24px;
    font-style: italic;
    color: #FFFFFFC7;
    font-family: 'Gilroy';
}
.burger_menu ul{
    margin-top: 50px;
}
.burger_menu ul li a{
    font-family: 'Gilroy';
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.burger_menu ul > li + li{
    margin-top: 35px;
}

.burger_menu ul li:last-child a{
    font-weight: 700;
    color: #FF4E4E;
}
.burger_close_button{
    width: 14px;
    height: 14px;
    position: absolute;
    right: 25px;
    top: 33px;
}
.burger_close_button div{
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
}
.burger_close_button div:first-child{
    transform: rotate(45deg);
}
.burger_close_button div:last-child{
    transform: rotate(-45deg);
}
.video_play.disabled{
    display: none !important;
}



.pop_up_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 500;
    display: none;
}

.pop_up_tabsContent{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 550;
    padding: 68px 24px 28px;
    width: 460px;
    display: none;
}
.pop_up_tabsContent .ready_tabs_content{
    width: 100%;
    display: none;
}
.mob_tabContent-active{
    display: block !important;
}
.pop_up_tabsContent .ready_tabs_content .img{
    width: 100%;
}
.pop_up_tabsContent .ready_tabs_content .img img{
    width: 100%;
}
.pop_up_tabsContent .ready_tabs_content .txt{
    width: 100%;
}
.pop_up_tabsContent .ready_tabs_content .txt h3{
    font-size: 18px;
    line-height: 25px;
}
.pop_up_tabsContent .ready_tabs_content .txt p{
    font-size: 14px;
    line-height: 25px;
}
.close_pop_up{
    position: absolute;
    top: 27px;
    right:  27px;
    height: 14px;
    width: 14px;
}
.close_pop_up div{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: rgba(40, 39, 39, 0.5);
}
.close_pop_up div:first-child{
    transform: rotate(45deg);
}
.close_pop_up div:last-child{
    transform: rotate(-45deg);
}


.mob_ready_tabs{
    display: none;
}
.footer_item_list_mob{
    display: none;
}
@media screen and (max-width:1440px){
    .info_block_wrapper,
    .we_are_ready_wrapper{
        width: 100%;
    }
    .info_block_wrapper .text_wrapper{
        margin-right: 100px;
    }
    .info_block_wrapper_two .text_wrapper{
        margin-right: 0;
        margin-left: 100px;
    }
}

@media screen and (max-width:1366px) {
    .info_block_wrapper .img{
        width: 800px;
    }
    .info_block_wrapper .img img{
        width: 100%;
    }
    .solutions_item .img img{
        width: 100%;
        height: 382px;
    }
    .ready_tabs_content .img{
        width: 900px;
    }
    .ready_tabs_content .img img{
        width: 100%;
    }
    .info_block_wrapper .txt{
        margin-right: 100px;
    }
    .info_block_wrapper_two .txt{
        margin-right: 0;
        margin-left: 100px;
    }
    .info_block_wrapper_two .text_wrapper .button{
        margin-left: 100px;
    }
    .ready_content_wrapper {
        min-height: 720px;
    }
}

@media screen and (max-width:1280px){
    .ready_tabs_content .img {
        width: 800px;
    }
    .questions_form_wrapper{
        justify-content: space-around;
    }
    .first_block .block_video{
        height: 560px;
    }
    .first_block {
        height: 485px;
    }
    .info_block_wrapper .txt {
        margin-right: 35px;
    }
    .info_block_wrapper_two .txt{
        margin-right: 0;
        margin-left: 35px;
    }
    .ready_content_wrapper {
        min-height: 670px;
    }
}
@media screen and (max-width:1025px){
    .program_setting_wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .program_setting_wrapper .button_tabs_content{
        display: none !important;
    }
    .program_setting_wrapper .button_tabs_items{
        display: inline-block;
        margin: 50px auto 0 auto;
    }
    .program_setting_wrapper .tabs_items{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .tabs_items .more_details{
        margin: 20px auto 0 auto;
    }
    .program_setting_wrapper .tabs_link {
        text-align: center;
    }
    .info_block_wrapper{
        flex-direction: column;
        align-items: center;
    }
    .info_block_wrapper_two{
        flex-direction: column-reverse;
        
    }
    .info_block_wrapper .text_wrapper .white_block::before,
    .info_block_wrapper .text_wrapper .white_block{
        display: none;
    }
    .text_wrapper{
        height: auto;
    }
    .info_block_wrapper .txt div{
        display: none;
    }
    .info_block_wrapper .text_wrapper .button{
        position: static;
    }
    .info_block_two{
        margin-top: 0;
    }
    .info_block_wrapper .img {
        width: 80%;
    }
    .info_block_wrapper .text_wrapper{
        margin-top: 50px;
    }
    .info_block_two{
        padding-top: 100px;
    }
    .we_are_ready_wrapper .tabs_links{
        width: 268px;
    }
    .ready_tabs_content .img{
        width: 600px;
    }
    .info_block_wrapper .txt{
        margin-right: 0;
        margin-left: 0;
    }
    .ready_content_wrapper {
        min-height: 570px;
    }
}



@media screen and (max-width: 900px){
    .we_are_ready_wrapper .we_are_ready_container{
        flex-direction: column-reverse;
        margin-left: 0;
    }
    .we_are_ready .ready_content_wrapper{
        display: none;
    }
    .we_are_ready{
        padding: 0 20px;
    }
    .we_are_ready h2{
        font-size: 45px;
        text-align: left;
        width: 80%;
    }
    .feedback_item{
        padding: 20px 23px;
    }
    .questions_form_wrapper{
        flex-direction: column;
    }
    .questions_form_wrapper .txt{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .questions_form_wrapper .txt p{
       width: 100%;
    }
    .footer_item_list > ul + ul {
        margin-left: 40px;
    }
    .footer_item_list{
        width: auto;
    }
    #solutions_prev,
    #solutions_next{
        display: none;
    }
    .we_are_ready_wrapper .tabs_links {
        width: 100%;
    }
    .first_block .block_video .video_txt{
        left: 21%;
        text-align: center;
    }
    .first_block .block_video .video_play{
        width: 82px;
        height: 82px;
        top: 40%;
    }
    .tabs_content_wrapper .img{
        width: 100%;
    }
    .desk_ready_tabs{
        display: none;
    }
    .mob_ready_tabs{
        display: block;
    }
    .info_block_wrapper_two .text_wrapper,
    .info_block_wrapper_two .text_wrapper .button{
        margin-left: 0;
    }
    .info_block_wrapper{
        align-items: baseline;
        padding: 0 20px;
    }
    .info_block_wrapper .img{
        width: 100%;
    }
    .info_block_wrapper .txt{
        width: 100%;
    }
    .tabs_link{
        padding: 26px 34px 26px 41px;
        height: auto;
    }
    .tabs_link p{
        width: 100%;
    }
    .tabs_link.active-link::after{
        top: 10%;
        height: 170px;
    }
    .ready_content_wrapper {
        min-height: auto;
    }
}

@media screen and (max-width: 600px){
    .left_nav .nav_items{
        display: none;
    }
    .first_block .block_video .video_txt h3{
        font-size: 32px;
    }
    .first_block .block_video .video_txt p{
        font-size: 14px;
    }
    .first_block .block_video .video_txt{
        width: 100%;
        left: 0;
    }
    .tabs_content_wrapper .title h2,
    .we_are_ready h2,
    .ready_solutions_wrapper .title h2,
    .info_block_wrapper .txt h3,
    .feedback_wrapper h2,
    .questions_form_wrapper .txt h2{
        font-size: 30px;
    }
    .tabs_content_wrapper .title{
        width: 100%;
    }
    .program_setting_wrapper .tabs_link{
        width: 100%;
    }
    .tabs_link.active-link::after{
        display: none;
    }
    .tabs_link h3{
        font-size: 20px;
        line-height: 30px;
    }
    .tabs_link p{
        font-size: 14px;
        line-height: 25px;
        width: 100%;
    }
    .ready_solutions_wrapper{
        margin-left: 20px;
    }
    .footer_top{
        flex-direction: column;
    }
    .solutions_item .img img{
        height: 230px;
    }
    .solutions_item .txt h3{
        font-size: 18px;
    }
    .solutions_item .txt p{
        font-size: 14px;
        line-height: 25px;
    }
    .info_block_wrapper .txt p,
    .info_block_wrapper .txt .h3_subtitle{
        font-size: 14px;
        line-height: 25px;
    }
    .info_block_wrapper .txt{
        max-width: 312px;
    }
    .info_block_wrapper_two .text_wrapper .button{
        margin-left: 0;
    }
    .tabs_content_wrapper .img{
        height: auto;
    }
    .we_are_ready,
    .ready_solutions,
    .feedback{
        margin-top: 60px;
    }
    
    .program_setting{
        padding-top: 60px;
    }
    .feedback_wrapper h2,
    .feedback_wrapper p{
        text-align: left;
        padding: 0 20px;
        width: 89%;
    }
    .feedback_wrapper p,
    .questions_form_wrapper .txt p{
        font-size: 14px;
        line-height: 25px;
    }
    .questions_form_wrapper .txt p,
    .questions_form_wrapper .txt h2{
        text-align: left;
        
    }
    .questions_form_wrapper .txt p{
        margin-top: 16px;
        width: 68%;
    }
    .questions_form_wrapper .form_block form h3{
        font-size: 20px;
    }
    .questions_form_wrapper .form_block form p{
        font-size: 14px;
    }
    .questions_form_wrapper .form_block form{
        padding: 40px 31px;
    }
    .form_block{
        width: 100%;
    }
    .footer_item{
        width: 100%;
        border-bottom: 1px solid rgba(33, 33, 33, 0.1);
        padding-bottom: 30px;
    }
    .footer_item:last-child{
        border-bottom: none;
    }
    .footer_item .social_links{
        justify-content: left;
    }
    .footer_item .social_links > a + a{
        margin-left: 20px;
    }
    .footer_top{
        padding-top: 45px;
        padding-right: 0;
        padding-bottom: 0;
    }
    .footer_top > .footer_item + .footer_item{
        padding-top: 30px;
    }
    .footer_item ul li{
        padding: 0;
    }
    .footer_item ul li::before{
        display: none;
    }
    .footer_item_list > ul + ul{
        margin-left: 0;
    }
    .footer_item_list{
        width: 100%;
        justify-content: space-around;
    }
    
    .footer_item ul li a{
        font-size: 14px;
        border-bottom: 1px solid #212121;
    }
    .footer_item_contacts p{
        width: 40%;
    }
    .footer_bot{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer_bot p{
        margin-bottom: 20px;
    }
    .right_nav .log_in{
        display: none;
    }
    .burger{
        display: block;
    }
    .select{
        z-index: 300;
    }
    .tabs_link{
        height: auto;
    }
    .navigate{
        position: fixed;
        width: 100%;
        background-color: #242424;
        z-index: 500;
    }
    .right_nav .select .select__list{
        background-color: #242424;
        top: 38px;
    }
    .right_nav .select .select__list.burger_active_btn{
        top: 18px;
    }
    .info_block_wrapper .text_wrapper{
        margin-right: 0;
        margin-left: 0;
    }
    .first_block {
        height: 560px;
    }
    .advertising{
        padding-top: 60px;
    }
    .advertising_two{
        padding-top: 0;
    }
    .pop_up_tabsContent{
        width: 312px;

    }
    .navigate_wrapper{
        padding: 16px 0 16px 0;
    }
    .burger_close_button{
        right: 25px;
        top: 22px;
    }
    .burger_menu{
        padding: 17px 17px;
    }
    .info_block_wrapper .txt h4{
        font-size: 18px;
    }
    .info_block_wrapper .txt p{
        width: 100%;
    }
    .questions_form{
        margin-top: 60px;
    }
    .footer_item_list{
        display: none;
    }
    .footer_item_list_mob{
        display: block;
    }
    .footer_item_list_mob ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
   
    .footer_item_list_mob ul > li + li{
        margin-top: 0;
        margin-left: 44px;
       
        
    }
    .footer_item_list_mob ul  li:last-child{
        margin-left: 0;
        margin-top: 20px;
    }
}

























































































































